
.bouton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(0, 71, 112);
    margin : auto;
}

.bouton:hover {
    background-color: rgb(0, 10, 99);
}
